- content_for :header do
  = render 'default_header'

#sessions.row
  .col-xs-4.col-xs-offset-4
    = form_tag sessions_path, remote: true, format: :js do
      = hidden_field_tag :back, params[:back]
      = text_field_tag :email, nil, placeholder: 'Email', class: 'center form-control', autofocus: true
      = password_field_tag :password, nil, placeholder: 'Password', class: 'center form-control'
      %button.btn.btn-primary.btn-block{ type: :submit, data: { 'disable-with' => 'Signing in' } } Sign in
