%li.job{ class: job.highlight ? 'highlight' : '' }
  - if job.created_at > 3.business_days.ago
    %span.new New
  = link_to [category, job] do
    %span.location= job.location
    %span.title= job.title
    %span.at at
    %span.company= job.company
    %span.date= job.created_at.strftime '%b %-d'
