- provide :title, 'Post a job'
- board_data = @current_board.attributes.merge categories: @current_board.categories

- content_for :head do
  :coffee
    window.CurrentBoard = #{ board_data.to_json }
    window.ImagePaths =
      cvv2:       '#{ image_path 'cvv2.gif' }'
      cvv2_amex:  '#{ image_path 'cvv2_amex.gif' }'
  = javascript_include_tag "new_job", defer: :defer

- content_for :header do
  = render 'post_a_job_header'

#jobs
  #create
    = render 'create', currentBoard: board_data
