= form_for @board, remote: true, format: :js do |f|
  = render layout: 'content_header', locals: { title: title } do
    %button.btn.btn-primary{ data: { disable_with: 'Saving...' } }
      %i.fa.fa-save
      Save board
    = link_to boards_path, class: 'btn btn-default' do
      %i.fa.fa-times
      Cancel
  = render 'form_error_message', object: f.object
  .row
    .form-group.col-sm-4
      = f.label :subdomain, class: 'control-label'
      = f.text_field :subdomain, class: 'form-control', placeholder: 'Subdomain'
      = render 'field_error_message', object: f.object, field: :subdomain
    .form-group.col-sm-4
      = f.label :title, class: 'control-label'
      = f.text_field :title, class: 'form-control', placeholder: 'Title'
      = render 'field_error_message', object: f.object, field: :title
    .form-group.col-sm-4
      = f.label :icon, class: 'control-label'
      = f.text_field :icon, class: 'form-control', placeholder: 'ex: fa-user-md'
      = render 'field_error_message', object: f.object, field: :icon
  .row
    .form-group.col-sm-12
      = f.label :tagline, 'Tagline', class: 'control-label'
      = f.text_field :tagline, class: 'form-control', placeholder: "Don't forget to use markdown!"
      = render 'field_error_message', object: f.object, field: :tagline
  .row
    .form-group.col-sm-8
      = f.label :suggestions, 'Job title suggestions', class: 'control-label'
      = f.text_field :suggestions, class: 'form-control', placeholder: "Job title suggestions"
      = render 'field_error_message', object: f.object, field: :suggestions
    .form-group.col-sm-4
      = f.label :price, 'Price', class: 'control-label'
      .input-group
        %span.input-group-addon
          %i.fa.fa-usd
        = f.text_field :price, class: 'form-control text-right', placeholder: "0.00"
      = render 'field_error_message', object: f.object, field: :price
  .row
    .form-group.col-sm-12
      = f.label :benefits, 'Job board benefits', class: 'control-label'
      = f.text_area :benefits, class: 'form-control', rows: 24, placeholder: "Job board benefits"
      = render 'field_error_message', object: f.object, field: :benefits
