.panel.panel-default
  .panel-heading
    %h4.panel-title.pull-right
      = link_to board_url(board), target: '_blank', title: 'View', data: { toggle: :tooltip } do
        %icon.icon-eye-open
      = link_to edit_board_path(board), title: 'Edit', data: { toggle: :tooltip } do
        %icon.icon-pencil
      = link_to board, method: :delete, remote: true, title: 'Delete', data: { toggle: :tooltip, confirm: 'Are you sure you want to delete this board? You will permanently lose all categories and jobs associated with it.' } do
        %icon.icon-trash
    %h4.panel-title
      = link_to "##{board.to_param}", data: { toggle: :collapse } do
        %icon{ class: board.icon }
        = board.title
  - selected = @board ? @board == board : board_counter == 0
  .panel-collapse.collapse{ id: board.to_param, class: (:in if selected) }
    .panel-body
      != $markdown.render board.tagline
    %ul.list-group
      = render partial: 'category_list_item', collection: board.categories, as: :category
      %li.list-group-item
        = link_to new_board_category_path(board) do
          %icon.icon-plus
          Add a category
