= form_for [@board, @category], remote: true, format: :js do |f|
  = render layout: 'content_header', locals: { title: title } do
    %button.btn.btn-primary{ data: { disable_with: 'Saving...' } }
      %icon.icon-save
      Save category
    = link_to boards_path, class: 'btn btn-default' do
      %icon.icon-remove
      Cancel
  = render 'form_error_message', object: f.object
  .row
    .form-group.col-xs-6.col-xs-offset-3
      = f.label :name, class: 'control-label'
      = f.text_field :name, class: 'form-control', placeholder: "Use 'nursing' instead of 'nursing jobs'.", autofocus: true
      = render 'field_error_message', object: f.object, field: :name
