.category
  %h3
    %span.name.tk-goudy-bookletter-1911= link_to "#{category.name} Jobs", category_jobs_path(category)
    %small
      Last post
      %time.updated_at.timeago{ datetime: category.updated_at }
        = time_ago_in_words category.updated_at
        ago

  %ul.jobs
    - jobs = @jobs.select { |job| job.category_id == category.id }
    - shown_jobs = @limited ? jobs[0, 20] : jobs
    = render partial: 'jobs/listing', collection: shown_jobs, as: :job, locals: { category: category }
    - if shown_jobs.length < @total_jobs[category.id]
      %li= link_to "View all #{@total_jobs[category.id]} #{category.name} jobs &rarr;".html_safe, category_jobs_path(category), class: :view_all
    - if @category
      %li= link_to "&larr; Back to all jobs".html_safe, root_path, class: :view_all
