.row
  #footer.col-sm-12
    %p
      = "The #{@current_board.title} board is a service of"
      = link_to 'JobBoard.com', root_url(subdomain: nil)
      %span.pull-right
        = link_to 'Subscribe to the full RSS feed', '#'
        or
        = link_to 'follow @handle on Twitter', '#'
        to find out when new jobs are posted.
