!!!
%html
  %head
    %title= full_title yield(:title)
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application", defer: :defer
    = render 'layouts/fonts'
    -#= auto_discovery_link_tag :atom, feed_url
    = csrf_meta_tags
    = yield(:head) if content_for?(:head)
  %body
    .container
      .row
        #header.col-sm-12
          = yield(:header) if content_for?(:header)
        #page.col-sm-12
          #flash_messages
            = render 'flash_messages'
          #content
            = content_for?(:content) ? yield(:content) : yield
      = render 'layouts/footer'
      = render 'layouts/tracking' if Rails.env.production?
